.body {
  &.home {
    .masthead {
      text-align: center;
      padding: 7em 0.5em 4em 0.5em;
    }
  }

  &.faucet {
    .masthead {
      text-align: center;
      padding: 4em 0.5em 0.5em 0.5em;
    }

    #faucet-box {
      background: $primary-color;
      background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
    }
  }

  .btn-primary {
    background: #b733a7;
    background-image: linear-gradient(to right, $primary-color, $primary-color-dark);
    border-color: $primary-color;
  }

  .badge-info {
    background: $primary-color;
  }

  .social-links {
    a {
      color: $primary-color;
      font-size: 1.6em;
      margin: 0.2em;
    }
  }
}
