.body {
  &.home {
    .masthead {
      text-align: center;
      padding: 7em 0.5em;
    }
  }

  &.faucet {
    .masthead {
      text-align: center;
      padding: 4em 0.5em 0.5em 0.5em;
    }

    #faucet-box {
      background: #b733a7;
      background-image: linear-gradient(to right, #b733a7, #97168a);
    }
  }

  .btn-primary {
    background: #b733a7;
    background-image: linear-gradient(to right, #b733a7, #97168a);
    border-color: #b733a7;
  }

  .badge-info {
    background: #b733a7;
  }
}
