html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

body {
  background: #f8f9fa;
  min-height: 100vh;
}

.navbar {
  .navbar-brand {
    img {
      margin-top: -4px;
    }
  }
}
